<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/style_latvia_viscentr.css">
</head>

<body>
    <div>
        {% for item in seq %}
        <p> address: {{ item[2] }}
            <p />
        <p> email: {{ item[3] }}
            <p />
        <p> phone: {{ item[6] }}
            <p />
        <p> ________________________
            <p />
            {%- endfor %}
    </div>
    <h3>{{ seq }}</h3>
</body>

<head>
    <title>Быстрый старт. Размещение интерактивной карты на странице</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=0cf5efcf-4155-4d15-b5e7-9dbfdcc17a88&lang=ru_RU"
        type="text/javascript">
        </script>
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                center: [53.906790, 27.561822],
                zoom: 12,
                controls: []
            });
            var someJavaScriptVar = '{{ seq }}';
            
            var address = 'вуліца Бабруйская 6';

            var geocoder = ymaps.geocode(address);

            geocoder.then(
                function (res) {

                    var coordinates = res.geoObjects.get(0).geometry.getCoordinates();

                    var placemark = new ymaps.Placemark(
                        coordinates, {
                        'hintContent': address,
                        'balloonContent': 'Время работы: Пн-Пт, с 9 до 20'
                    }, {
                        'preset': 'islands#redDotIcon'
                    }
                    );

                    myMap.geoObjects.add(placemark);
                }
            );
        }

    </script>


</head>

<body>
    <div id="map" style="width: 600px; height: 400px"></div>
</body>

</html>