<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  </head>
  <body>
  <div class="page"> 
    <a href="#map">
      <img src="/static/img/button.svg" class="button">
    </a>
  </div>
    <div class="main-container" id="map">

        <div class="norwaycontainer">
        <a href="/norway"><img class="norway" src="/static/img/norway.svg"></a>
        <p class="norwaytext text">Norway</p>
        </div>
  
        <div class="polandcontainer">
        <a href="/poland"><img class="poland" src="/static/img/poland.svg"></a>
        <p class="polandtext text">Poland</p>
        </div>

        <div class="lithuaniacontainer">
        <a href="/lithuania"><img class="lithuania" src="/static/img/lithuania.svg"></a>   
        <p class="lithuaniatext text">Lithuania</p>
        </div>
     
        <div class="thailandcontainer">
        <a href="/thailand"><img class="thailand" src="/static/img/thailand.svg"></a>
        <p class="thailandtext text">Thailand</p>
       </div>

        <div class="spaincontainer">
        <a href="/spain"><img class="spain" src="/static/img/spain.svg"></a>
        <p class="spaintext text">Spain</p>
        </div>

        <div class="latviacontainer">
        <p class="latviatext text">Latvia</p>
        <a href="/latvia"><img class="latvia" src="/static/img/latvia.svg"></a>
        </div>
     

    
    </div>
  
  </body>
</html>
